# Revisiting The January Effect

## Introduction
...

...

Import packages

In [1]:
import numpy as np
import pandas as pd
import pickle

Magic

In [2]:
%matplotlib inline

## Pull Data

In this section, we collect S&P consittuents' historical data from a previous project https://quant-trading.blog/2019/06/24/backtesting-a-trading-strategy-part-2/.

In [3]:
with open('sp600_data.pickle', 'rb') as f:
    data = pickle.load(f)
    
f.close()

In [4]:
close = data['close']

Inspect

In [5]:
close.head()

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2014-06-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014-06-11,22.33,20.7695,30.1070,38.07,13.91,20.9537,64.62,24.3261,NaN,7.68,...,10.8245,21.2765,76.44,9.3183,57.5835,24.8378,NaN,19.4619,23.5042,28.99
2014-06-12,22.30,20.5904,29.9566,37.05,14.03,20.7716,62.44,24.1543,NaN,7.60,...,10.7626,21.3093,76.34,9.2923,57.2527,24.3284,NaN,19.2547,23.0351,28.27
2014-06-13,21.86,20.3792,29.9654,37.29,13.87,20.6183,62.28,23.9282,NaN,7.64,...,10.7795,21.1865,76.81,9.3053,57.3094,24.8095,NaN,19.5742,23.2012,28.15
2014-06-16,22.71,20.5712,30.0273,36.95,13.78,20.3980,63.14,23.7745,NaN,7.76,...,10.8864,20.8754,78.29,9.2727,57.4985,24.6302,NaN,19.5828,22.8885,28.21

In [6]:
close.tail()

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2019-06-04,9.19,47.80,45.11,39.70,67.63,37.25,79.67,37.60,35.52,15.30,...,4.08,27.03,137.79,12.54,85.75,28.42,20.95,21.32,13.16,20.65
2019-06-05,9.23,48.08,46.39,38.62,68.00,37.03,77.80,37.28,36.20,14.95,...,4.05,27.46,137.16,12.70,85.79,28.25,21.00,20.70,12.86,19.94
2019-06-06,9.30,48.18,46.39,37.99,67.97,36.90,76.95,39.78,37.06,14.89,...,3.99,27.52,136.06,12.67,86.42,28.32,20.85,20.69,13.01,18.67
2019-06-07,9.50,48.85,46.61,39.88,69.18,36.58,77.95,39.36,38.34,15.03,...,4.05,27.47,136.72,12.68,87.35,28.50,21.01,20.93,12.98,21.65
2019-06-10,9.60,48.64,46.51,40.30,71.91,37.20,78.88,39.47,38.69,15.74,...,4.21,27.29,142.45,12.50,87.97,28.39,21.12,20.57,13.19,21.46

In [7]:
close.describe()

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
count,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,152.000000,1258.000000,...,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1258.000000,1094.000000,1258.000000,1258.000000,1258.000000
mean,26.523188,29.595272,37.383077,49.431387,31.595862,36.468555,67.475747,32.757237,30.553658,16.014777,...,7.052403,26.183249,75.539273,10.755358,63.426474,26.717355,17.466643,26.235295,18.697389,22.802699
std,17.116913,7.763096,3.595458,10.156758,15.917380,10.508064,10.126593,5.585728,3.460363,6.525089,...,1.793529,3.155567,28.283319,1.387724,10.670268,5.752016,3.218554,6.633022,4.463565,6.799962
min,8.380000,16.287400,29.352300,31.400000,10.500000,20.120100,45.070000,22.347500,20.930200,6.840000,...,3.990000,20.496900,26.700000,7.337200,43.206400,14.741000,10.508700,11.940500,8.155900,11.450000
25%,14.810000,22.305875,35.384150,40.970000,22.285000,26.449975,59.167500,28.549550,28.943125,10.600000,...,5.664050,23.158525,50.137500,9.794800,54.413025,23.000950,14.932475,21.145625,16.119775,17.500000
50%,19.845000,30.684600,37.508550,49.150000,25.175000,35.079700,67.750000,31.390800,30.315400,13.925000,...,6.576000,26.576000,76.820000,10.795250,61.023300,26.738850,17.782900,26.661550,19.138750,21.850000
75%,33.927500,35.473400,39.254350,56.542500,38.340000,45.666850,74.352500,37.597450,32.236275,20.950000,...,8.228400,29.164850,101.162500,11.707950,72.812975,30.402625,19.650875,30.475175,22.118050,26.700000
max,99.610000,51.631400,46.770000,74.000000,74.890000,57.403000,95.540000,43.220900,38.690000,36.625000,...,11.148200,31.602900,142.450000,14.108200,87.970000,39.469500,24.438200,41.762300,30.738900,41.400000

In [8]:
close.shape

(1259, 601)

## January Effect Trading Strategy
...

Create today series

In [9]:
today = pd.Series(close.index)

Create months and years series

In [10]:
months = pd.Series(close.index.month)
years = pd.Series(close.index.year)

Create next day of the month and next day of the year

In [11]:
next_day_month = months.shift(periods=-1)
next_day_year = years.shift(periods=-1)

Last day of December

In [12]:
mask_last_day_dec = (months==12) & (next_day_month==1)

In [13]:
last_day_dec = today[mask_last_day_dec]

In [14]:
last_day_dec

142    2014-12-31
394    2015-12-31
646    2016-12-30
897    2017-12-29
1148   2018-12-31
dtype: datetime64[ns]

Last day of January

In [15]:
mask_last_day_jan = (months==1) & (next_day_month==2)

In [16]:
last_day_jan = today[mask_last_day_jan]

In [17]:
last_day_jan

162    2015-01-30
413    2016-01-29
666    2017-01-31
918    2018-01-31
1169   2019-01-31
dtype: datetime64[ns]

Ensure that last day of January is after last day of December

In [18]:
assert (last_day_jan.values > last_day_dec.values).any(), 'Assertion violated'

End of year indices

In [19]:
mask_eoy = years!=next_day_year

In [20]:
eoy = today[mask_eoy]

In [21]:
eoy

142    2014-12-31
394    2015-12-31
646    2016-12-30
897    2017-12-29
1148   2018-12-31
1258   2019-06-10
dtype: datetime64[ns]

Note that last item is not end of year

In [22]:
eoy = eoy[:-1]

In [23]:
eoy

142    2014-12-31
394    2015-12-31
646    2016-12-30
897    2017-12-29
1148   2018-12-31
dtype: datetime64[ns]

Check that eoy dates match last day of December dates

In [24]:
assert (last_day_dec.values==eoy.values).any(), 'Assertion violated'

Calculate annual returns (from December of previous year to December of current year)

In [25]:
annual_returns = close[mask_eoy.values].pct_change()

In [26]:
annual_returns

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2014-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-31,0.529412,0.046480,-0.013137,-0.161460,-0.347054,0.335058,-0.111697,0.009329,NaN,0.011719,...,-0.330552,0.024976,-0.533040,-0.135805,-0.207702,-0.422053,NaN,-0.141504,-0.344897,-0.608594
2016-12-30,0.365967,0.434683,0.151817,0.261490,0.401966,0.293868,-0.085113,0.463266,NaN,0.404440,...,0.078937,0.257394,0.732615,0.314361,0.328285,0.329156,0.357713,0.510758,1.101995,0.445106
2017-12-29,0.613481,0.118443,-0.088920,0.124640,0.093234,0.114998,0.037277,-0.061252,NaN,0.972509,...,-0.225964,-0.011763,0.255756,0.092310,0.178366,0.464798,0.176085,-0.431567,-0.109363,-0.046911
2018-12-31,-0.592015,-0.035870,0.081443,-0.280648,0.650943,-0.336905,0.041562,-0.130458,NaN,-0.379791,...,-0.212013,-0.228209,0.266848,-0.067976,-0.141321,0.009908,-0.159639,-0.211303,-0.333477,-0.079472
2019-06-10,-0.377835,0.392137,0.164952,-0.044797,0.643657,0.178043,0.183318,0.242125,0.401918,-0.115730,...,-0.040303,0.199418,0.393018,0.057870,0.370638,-0.107258,0.243699,0.138420,-0.073280,0.119457

Retrieve last day of January close prices

In [27]:
close_last_day_jan = close[mask_last_day_jan.values]

In [28]:
close_last_day_jan

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2015-01-30,8.94,21.0221,39.7404,45.20,27.01,23.2692,74.21,26.5600,NaN,9.60,...,10.3851,24.0253,73.45,10.7409,55.7030,26.7309,NaN,32.2219,13.4259,37.29
2016-01-29,16.37,20.9406,34.2992,36.73,15.39,28.0956,47.08,28.2295,NaN,10.48,...,5.7048,22.1203,28.94,8.1673,47.3694,16.3671,12.0772,25.6197,9.2000,18.11
2017-01-31,30.76,33.2836,40.3797,52.75,24.98,44.1796,65.60,38.6600,NaN,15.20,...,6.6672,28.6997,49.07,11.2273,64.2092,23.0053,16.2353,41.2152,22.2643,20.05
2018-01-31,32.39,35.9427,34.0408,56.30,26.46,52.9076,72.65,37.0155,NaN,25.90,...,5.1449,27.1500,118.05,11.5606,78.4845,32.4272,20.7784,21.0789,23.1626,20.75
2019-01-31,17.38,36.8126,42.6774,53.22,51.01,37.8395,70.65,34.0254,29.3823,20.83,...,5.1270,25.0774,103.69,13.6667,74.4660,34.2142,18.5317,21.0558,19.2200,25.41

Retrieve last day of December close prices

In [29]:
close_last_day_dec = close[mask_last_day_dec.values]

In [30]:
close_last_day_dec

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2014-12-31,11.22,21.5812,35.6482,49.30,26.48,24.7253,75.92,26.3576,NaN,10.24,...,9.9576,23.1466,79.45,10.2183,60.2728,27.9844,NaN,31.0748,17.4116,38.630
2015-12-31,17.16,22.5843,35.1799,41.34,17.29,33.0097,67.44,26.6035,NaN,10.36,...,6.6661,23.7247,37.10,8.8306,47.7540,16.1735,12.6551,26.6776,11.4064,15.120
2016-12-30,23.44,32.4013,40.5208,52.15,24.24,42.7102,61.70,38.9280,NaN,14.55,...,7.1923,29.8313,64.28,11.6066,63.4309,21.4971,17.1820,40.3034,23.9762,21.850
2017-12-29,37.82,36.2390,36.9177,58.65,26.50,47.6218,64.00,36.5436,NaN,28.70,...,5.5671,29.4804,80.72,12.6780,74.7448,31.4889,20.2075,22.9098,21.3541,20.825
2018-12-31,15.43,34.9391,39.9244,42.19,43.75,31.5778,66.66,31.7762,27.5979,17.80,...,4.3868,22.7527,102.26,11.8162,64.1818,31.8009,16.9816,18.0689,14.2330,19.170

Modify the index of clost_last_day_dec

In [31]:
close_last_day_dec.index = close_last_day_jan.index

Calculate January returns (from December of previous year to January of current year)

In [32]:
january_returns = (close_last_day_jan - close_last_day_dec) / close_last_day_dec

In [33]:
january_returns

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2015-01-30,-0.203209,-0.025907,0.114794,-0.083164,0.020015,-0.058891,-0.022524,0.007679,NaN,-0.062500,...,0.042932,0.037962,-0.075519,0.051144,-0.075819,-0.044793,NaN,0.036914,-0.228911,-0.034688
2016-01-29,-0.046037,-0.072781,-0.025034,-0.111514,-0.109890,-0.148868,-0.301898,0.061120,NaN,0.011583,...,-0.144207,-0.067626,-0.219946,-0.075114,-0.008054,0.011970,-0.045665,-0.039655,-0.193435,0.197751
2017-01-31,0.312287,0.027230,-0.003482,0.011505,0.030528,0.034404,0.063209,-0.006885,NaN,0.044674,...,-0.073009,-0.037933,-0.236621,-0.032680,0.012270,0.070158,-0.055098,0.022623,-0.071400,-0.082380
2018-01-31,-0.143575,-0.008176,-0.077927,-0.040068,-0.001509,0.110995,0.135156,0.012913,NaN,-0.097561,...,-0.075838,-0.079049,0.462463,-0.088137,0.050033,0.029798,0.028252,-0.079918,0.084691,-0.003601
2019-01-31,0.126377,0.053622,0.068955,0.261436,0.165943,0.198294,0.059856,0.070783,0.064657,0.170225,...,0.168733,0.102172,0.013984,0.156607,0.160235,0.075888,0.091281,0.165306,0.350383,0.325509

Calculate the portfolio returns

In [34]:
january_returns

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2015-01-30,-0.203209,-0.025907,0.114794,-0.083164,0.020015,-0.058891,-0.022524,0.007679,NaN,-0.062500,...,0.042932,0.037962,-0.075519,0.051144,-0.075819,-0.044793,NaN,0.036914,-0.228911,-0.034688
2016-01-29,-0.046037,-0.072781,-0.025034,-0.111514,-0.109890,-0.148868,-0.301898,0.061120,NaN,0.011583,...,-0.144207,-0.067626,-0.219946,-0.075114,-0.008054,0.011970,-0.045665,-0.039655,-0.193435,0.197751
2017-01-31,0.312287,0.027230,-0.003482,0.011505,0.030528,0.034404,0.063209,-0.006885,NaN,0.044674,...,-0.073009,-0.037933,-0.236621,-0.032680,0.012270,0.070158,-0.055098,0.022623,-0.071400,-0.082380
2018-01-31,-0.143575,-0.008176,-0.077927,-0.040068,-0.001509,0.110995,0.135156,0.012913,NaN,-0.097561,...,-0.075838,-0.079049,0.462463,-0.088137,0.050033,0.029798,0.028252,-0.079918,0.084691,-0.003601
2019-01-31,0.126377,0.053622,0.068955,0.261436,0.165943,0.198294,0.059856,0.070783,0.064657,0.170225,...,0.168733,0.102172,0.013984,0.156607,0.160235,0.075888,0.091281,0.165306,0.350383,0.325509

In [35]:
january_returns.shape

(5, 601)

Transaction costs (one-way)

In [36]:
tc_one_way = 0.0005

Calculate the returns

In [38]:
for i in range(1, annual_returns.shape[0]-1):
    # Create a mask for stocks with returns != NaN
    mask_has_data = np.isfinite(annual_returns.iloc[i, :])
    has_data = list(mask_has_data[mask_has_data].index)
    
    # Sort stocks as per annual returns
    sort_tickers = annual_returns[has_data].iloc[i, :].sort_values().index
    
    # Set the number of stocks to long (short)
    top_n = round(len(has_data) / 10)
    
    # List of stocks to long and short
    longs = sort_tickers[:top_n]
    shorts = sort_tickers[-top_n:]
    
    # Calculate returns from the last day of December to the last day of January
    long_returns = (january_returns.iloc[i][longs]).mean()
    short_returns = (january_returns.iloc[i][shorts]).mean()
    portfolio_returns = 0.5 * (long_returns - short_returns) - 2 * tc_one_way
    
    #
    print(f"Date: {annual_returns.index[i]} Portfolio return: {portfolio_returns}")

Date: 2015-12-31 00:00:00 Portfolio return: -0.021949200889265066
Date: 2016-12-30 00:00:00 Portfolio return: -0.00919305701457732
Date: 2017-12-29 00:00:00 Portfolio return: -0.010484716490183631
Date: 2018-12-31 00:00:00 Portfolio return: 0.0674128880306187

In [39]:
january_returns

Symbols,AAOI,AAON,AAT,AAWW,AAXN,ABCB,ABG,ABM,ACA,ACLS,...,WPG,WRE,WRLD,WSR,WTS,WWW,XHR,XPER,ZEUS,ZUMZ
2015-01-30,-0.203209,-0.025907,0.114794,-0.083164,0.020015,-0.058891,-0.022524,0.007679,NaN,-0.062500,...,0.042932,0.037962,-0.075519,0.051144,-0.075819,-0.044793,NaN,0.036914,-0.228911,-0.034688
2016-01-29,-0.046037,-0.072781,-0.025034,-0.111514,-0.109890,-0.148868,-0.301898,0.061120,NaN,0.011583,...,-0.144207,-0.067626,-0.219946,-0.075114,-0.008054,0.011970,-0.045665,-0.039655,-0.193435,0.197751
2017-01-31,0.312287,0.027230,-0.003482,0.011505,0.030528,0.034404,0.063209,-0.006885,NaN,0.044674,...,-0.073009,-0.037933,-0.236621,-0.032680,0.012270,0.070158,-0.055098,0.022623,-0.071400,-0.082380
2018-01-31,-0.143575,-0.008176,-0.077927,-0.040068,-0.001509,0.110995,0.135156,0.012913,NaN,-0.097561,...,-0.075838,-0.079049,0.462463,-0.088137,0.050033,0.029798,0.028252,-0.079918,0.084691,-0.003601
2019-01-31,0.126377,0.053622,0.068955,0.261436,0.165943,0.198294,0.059856,0.070783,0.064657,0.170225,...,0.168733,0.102172,0.013984,0.156607,0.160235,0.075888,0.091281,0.165306,0.350383,0.325509

## Conclusion
...